Options +FollowSymLinks
RewriteEngine On
Options -Indexes

RewriteCond %{HTTP_HOST} grupae\.loc [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://grupae/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php [L,QSA]

RewriteRule ^(?:src)\b.* index.php [L]

<Files .env>
    order allow,deny
    Deny from all
</Files>